<html>

<head>
  <meta charset="utf-8">
  <title>Egy Pets</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Btns ganerate  -->
  <link rel="stylesheet" href="css/bootstrap-social.css">


  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body style="margin:0px;">
  <div class="container-fluid visit_user" style="margin-top:0px; background-color:#F6F6F6; width:1200px; height:700px;">

    <div style="position:relative;bottom:100px; right:180px;background-color:#ff4c68; width:150%">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"> <img style="zoom:40%;" class="brand" src="/css/images/blob.png" /></a>
          <ul class="ul-findP">
            <li class="nav-item">
              <a style="  color: #231955;" class="nav-link" href="/logout">logout</a>
            </li>
            <li class="nav-item">
              <a style="  color: #231955;" href="/find">Find</a>
            </li>
            <li class="nav-item">
              <a style="  color: #231955;" class="nav-link" href="/addpets">Add Pets</a>
            </li>
          </ul>
      </nav>
    </div>

    <div class="userHeader  specify">

      <div class="userH">

        <h1 style="margin:0px;"><%=profileData.fullName %></h1>

          <%   if ( follower != null ){  %>
          <h6> <span>Matches By: </span><%= follower.followers_user.length %> </h6>
          <%  }else{%>
            <h6> <span>Matches By: </span> 0 </h6>

        <%  }  %>
        <%   if ( following != null ){  %>

          <h6> <span>My Matches: </span><%= following.following_users.length %> </h6>
          <%  }else{%>
            <h6> <span>followers: </span> 0 </h6>

        <%  }  %>

      </div>
    </div>

    <div class="cardV cardUser  visit_user">
      <div class="top userCardTop">
        <img class="circle-imgUser" src="<%=profileData.Photo_URL%>" ;base64,>
      </div>
      <div class="bottom bottomUser  visit_botom">
        <div class="info  visit_botom">
          <p> <span> Name : </span> <%=profileData.fullName %>
          <p>
          <p> <span>Number :</span> <%=profileData.phone %> </p>
          <p> <span>Email : </span> <%= email %> </p>
          <p class="cardinfo1"><span> Location :</span><%=profileData.governorate_name%></p>
        </div>
        <button class="btnCard" type="button" name="button"><a style=" color: #231955; text-decoration:none" href="/editpd/<%= profileData.login_userDB_id %>"> Mange profile </a></button>
        <button class="btnCard" type="button" name="button"><a style=" color: #231955; text-decoration:none" href="/inbox/<%= profileData.login_userDB_id %>"> InBox </a></button>

      </div>
    </div>

    <section class="colored-section" id="testimonials">
      <div id="testimonial-carousel" class="carousel slide " data-ride="data-bs-target">
        <div class="carousel-inner">
          <% for(i=0; ads.length > i; i++){%>
          <% for(k=0; pics.length > k; k++){%>
          <%  if(i===k){ %>
          <div id="run" class="carousel-item active  container-fluid  ">
            <h2 class="carusol-color">My pet : <% ads[i].SpecialMarks%> it's age is: <%=ads[i].age%> years and its Health like: <%=ads[i].Health%> </h2>
            <img class="petsImg" src="<%=ads[i].petPic_Link%>" ;base64,>
            <em class="carusol-color"> Category : <%=ads[i].category%></em>
            <div class="userbtn">
              <button class="btnCard" type="button" name="button"><a style="  color: #231955; text-decoration:none" href="/editads/<%= ads[i].userID %>"> Mange your Ads</a></button>

            </div>
          </div>
          <%} %>
          <%} %>
          <%} %>
        </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </section>
    </section>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="public/index.js" charset="utf-8"></script>
  <script type="text/javascript">
    window.addEventListener('load', (event) => {
      $(".carousel-item").removeClass("active");
      $("#run").addClass("active");


    });
  </script>

</body>
